---
# Note: Keep keys and envs in alphabetical order.
name: Check
# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 1  # Run every Monday at 00:00 UTC
  workflow_call:
permissions:
  contents: read
jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Add Problem Matcher for actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
        shell: bash
      - uses: reviewdog/action-actionlint@v1
  link-checker:
    name: Link Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Restore lychee cache
        uses: actions/cache@v5.0.1
        with:
          key: cache-lychee-${{ github.sha }}
          path: .lycheecache
          restore-keys: |
            cache-lychee-
      - name: Link Checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0  # v2.7.0
        with:
          args: --cache --max-cache-age 1d --verbose --no-progress './**/*.md'
          fail: true
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5.0.1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit|
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.12'
      - name: Add Problem Matcher for pre-commit
        run: |
          echo "::add-matcher::.github/pre-commit-matcher.json"
        shell: bash
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --color=never
