---
# See: <https://opencode.ai/docs>
# Note: Keep keys and envs in alphabetical order.
name: OpenCode
on:
  issue_comment:
    types:
      - created
      - edited
  pull_request_review_comment:
    types:
      - created
      - edited
  workflow_dispatch:
    inputs:
      model:
        default: opencode/claude-opus-4-5
        description: Model to use for OpenCode
        options:
          - opencode/claude-haiku-4-5
          - opencode/claude-opus-4-5
          - opencode/claude-sonnet-4-5
        required: false
        type: choice
jobs:
  opencode:
    if: |
      github.event_name == 'workflow_dispatch' || (
        contains(github.event.comment.body, ' /oc') ||
        startsWith(github.event.comment.body, '/oc') ||
        contains(github.event.comment.body, ' /opencode') ||
        startsWith(github.event.comment.body, '/opencode')
      )
    name: OpenCode
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      issues: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run opencode
        uses: anomalyco/opencode/github@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
          OPENCODE_PERMISSION: '{"bash": "deny"}'
        with:
          model: ${{ github.event_name == 'workflow_dispatch' && inputs.model || 'opencode/claude-opus-4-5' }}
