---
# See: <https://opencode.ai/docs>
# Note: Keep keys and envs in alphabetical order.
name: OpenCode
on:
  issue_comment:
    types:
      - created
      - edited
  pull_request_review_comment:
    types:
      - created
      - edited
  workflow_call:
    inputs:
      agent:
        default: build
        description: Agent to use.
        required: false
        type: string
      model:
        default: opencode/claude-opus-4-5
        description: Model to use for OpenCode
        required: false
        type: string
      prompt:
        default: ''
        description: Custom prompt to override the default prompt
        required: false
        type: string
  workflow_dispatch:
    inputs:
      agent:
        default: build
        description: Agent to use.
        options:
          - build
          - compaction
          - plan
          - summary
          - title
        required: false
        type: choice
      model:
        default: opencode/claude-opus-4-5
        description: Model to use for OpenCode
        options:
          - opencode/big-pickle
          - opencode/claude-3-5-haiku
          - opencode/claude-haiku-4-5
          - opencode/claude-opus-4-1
          - opencode/claude-opus-4-5
          - opencode/claude-sonnet-4
          - opencode/claude-sonnet-4-5
          - opencode/gemini-3-flash
          - opencode/gemini-3-pro
          - opencode/glm-4.6
          - opencode/glm-4.7-free
          - opencode/gpt-5
          - opencode/gpt-5-codex
          - opencode/gpt-5-nano
          - opencode/gpt-5.1
          - opencode/gpt-5.1-codex
          - opencode/gpt-5.1-codex-max
          - opencode/gpt-5.1-codex-mini
          - opencode/gpt-5.2
          - opencode/gpt-5.2-codex
          - opencode/grok-code
          - opencode/kimi-k2
          - opencode/kimi-k2-thinking
          - opencode/minimax-m2.1-free
          - opencode/qwen3-coder
        required: false
        type: choice
      prompt:
        description: Custom prompt to override the default prompt
        required: false
        default: ''
jobs:
  opencode:
    if: |
      github.event_name == 'workflow_dispatch' || github.event_name == 'workflow_call' || (
        !endsWith(github.actor, '[bot]') &&
        contains(fromJson('["COLLABORATOR","MEMBER","OWNER"]'), github.event.comment.author_association) &&
        (
          contains(github.event.comment.body, ' /oc') ||
          startsWith(github.event.comment.body, '/oc') ||
          contains(github.event.comment.body, ' /opencode') ||
          startsWith(github.event.comment.body, '/opencode')
        )
      )
    name: OpenCode
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write  # Needed so opencode can request an OIDC token for GitHub API calls
      issues: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run opencode
        uses: anomalyco/opencode/github@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
          OPENCODE_PERMISSION: |-
            { "bash": {  "*": "deny", "gh*": "allow", "gh pr review*": "deny", "pre-commit*": "allow" } }
        with:
          agent: ${{ inputs.agent }}
          model: >-
            ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'workflow_call')
            && inputs.model || 'opencode/claude-opus-4-5' }}
          prompt: ${{ inputs.prompt || '' }}
