---
# See: <https://opencode.ai/docs>
# Note: Keep keys and envs in alphabetical order.
name: OpenCode
on:
  issue_comment:
    types:
      - created
      - edited
  pull_request_review_comment:
    types:
      - created
      - edited
  workflow_dispatch:
    inputs:
      model:
        default: opencode/claude-opus-4-5
        description: Model to use for OpenCode
        options:
          - anthropic/claude-haiku-4-5
          - anthropic/claude-opus-4-5
          - anthropic/claude-sonnet-4-5
          - opencode/big-pickle
          - opencode/claude-3-5-haiku
          - opencode/claude-haiku-4-5
          - opencode/claude-opus-4-1
          - opencode/claude-opus-4-5
          - opencode/claude-sonnet-4
          - opencode/claude-sonnet-4-5
          - opencode/gemini-3-flash
          - opencode/gemini-3-pro
          - opencode/glm-4.6
          - opencode/glm-4.7-free
          - opencode/gpt-5
          - opencode/gpt-5-codex
          - opencode/gpt-5-nano
          - opencode/gpt-5.1
          - opencode/gpt-5.1-codex
          - opencode/gpt-5.1-codex-max
          - opencode/gpt-5.1-codex-mini
          - opencode/gpt-5.2
          - opencode/gpt-5.2-codex
          - opencode/grok-code
          - opencode/kimi-k2
          - opencode/kimi-k2-thinking
          - opencode/minimax-m2.1-free
          - opencode/qwen3-coder
          - openrouter/deepseek/deepseek-chat-v3.1
          - openrouter/deepseek/deepseek-r1-distill-llama-70b
          - openrouter/deepseek/deepseek-r1-distill-qwen-14b
          - openrouter/deepseek/deepseek-v3.1-terminus
          - openrouter/deepseek/deepseek-v3.1-terminus:exacto
          - openrouter/deepseek/deepseek-v3.2
          - openrouter/deepseek/deepseek-v3.2-speciale
          - openrouter/featherless/qwerky-72b
          - openrouter/google/gemini-3-flash-preview
          - openrouter/google/gemini-3-pro-preview
          - openrouter/google/gemma-3-12b-it
          - openrouter/google/gemma-3-27b-it
          - openrouter/meta-llama/llama-3.2-11b-vision-instruct
          - openrouter/minimax/minimax-m2.1
          - openrouter/mistralai/mistral-7b-instruct:free
          - openrouter/mistralai/mistral-medium-3.1
          - openrouter/mistralai/mistral-small-3.2-24b-instruct
          - openrouter/moonshotai/kimi-k2
          - openrouter/moonshotai/kimi-k2-thinking
          - openrouter/nousresearch/deephermes-3-llama-3-8b-preview
          - openrouter/nousresearch/hermes-4-405b
          - openrouter/nousresearch/hermes-4-70b
          - openrouter/openai/gpt-4o-mini
          - openrouter/openai/gpt-5.2
          - openrouter/openai/gpt-5.2-chat-latest
          - openrouter/openai/gpt-5.2-codex
          - openrouter/openai/gpt-5.2-pro
          - openrouter/openai/o4-mini
          - openrouter/qwen/qwen3-coder
          - openrouter/qwen/qwen3-coder-30b-a3b-instruct
          - openrouter/qwen/qwen3-coder-flash
          - openrouter/qwen/qwen3-max
          - openrouter/qwen/qwq-32b:free
          - openrouter/x-ai/grok-4
          - openrouter/x-ai/grok-4-fast
          - openrouter/x-ai/grok-4.1-fast
          - openrouter/x-ai/grok-code-fast-1
          - openrouter/z-ai/glm-4.6
          - openrouter/z-ai/glm-4.6:exacto
          - openrouter/z-ai/glm-4.7
        required: false
        type: choice
jobs:
  opencode:
    if: |
      github.event_name == 'workflow_dispatch' || (
        contains(github.event.comment.body, ' /oc') ||
        startsWith(github.event.comment.body, '/oc') ||
        contains(github.event.comment.body, ' /opencode') ||
        startsWith(github.event.comment.body, '/opencode')
      )
    name: OpenCode
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      issues: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run opencode
        uses: anomalyco/opencode/github@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
          OPENCODE_PERMISSION: '{"bash": "deny"}'
        with:
          model: ${{ github.event_name == 'workflow_dispatch' && inputs.model || 'opencode/claude-opus-4-5' }}
